main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    height: 200px;
    margin:30px;
    background: red;
   
}

.text {
    color: white;
    font-size:larger;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-text{
    width: 40%;
    background-color: black;
    color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
}